#cart {
	
}

.cartBand {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding: 10px 0px;
}

.product {
	margin-bottom: 5px;
	padding: 5px 0px;
}

.product:hover {
	background-color: rgba(var(--sage),.2);
}

.product img {
	height: var(--thumb);
	width: var(--thumb);
	display: inline-block;
}

.product img+div {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 10px !important;
	width: calc(100% - (var(--thumb) * 2) - 10px);
	position: relative;
}

.product img+div::after {
	content: "$"attr(data-content);
	width: var(--thumb);
	height: var(--thumb);
	display: inline-block;
	position: absolute;
	top: 0px;
	right: calc(var(--thumb) * -1);
	font-size: 36px;
	line-height: var(--thumb);
}

.product h3 {
	margin: 0px 0px 5px 0px;
	font-size: 20px;
}

.product h3+span {
	font-size: 16px !important;
	margin-top: 0px !important;
}

.product .counter {
	zoom: 0.5;
	margin: 0px;
	margin-left: calc((var(--thumb) * 2) + 20px);
}
