header {
	background-color: rgb(var(--ocean));
	height: var(--thumb);
	width: 100vw;
	font-family: var(--soapCloset);
	line-height: var(--thumb);
	font-size: xx-large;
	color: rgb(var(--oats));
	position: fixed;
}

#blt {
	height: var(--thumb);
	width: var(--thumb);
	display: inline-block;
	vertical-align: top;
	transition: .1s ease-in-out;
}

#blt div {
	border: 1px solid rgb(var(--oats));
	background-color: rgb(var(--oats));
	position: absolute;
	left: calc(var(--thumb) / 4);
	width: calc(var(--thumb) / 2);
	height: .5px;
}

#blt div:nth-child(1) {
	top: calc(((var(--thumb) / 5) * 1.5) - 0px);
	left: calc((var(--thumb) / 5) * 1.5);
	width: calc((var(--thumb) / 5) * 2);
}

#blt div:nth-child(2) {
	top: calc(((var(--thumb) / 5) * 2.5) - 0px);
	left: calc((var(--thumb) / 5) * 1.5);
	width: calc((var(--thumb) / 5) * 2);
}

#blt div:nth-child(3) {
	top: calc(((var(--thumb) / 5) * 3.5) - 0px);
	left: calc((var(--thumb) / 5) * 1.5);
	width: calc((var(--thumb) / 5) * 2);
}

#blt.open div:nth-child(1) {
	transform: rotate(45deg);
    transform-origin: center;
    top: calc((var(--thumb) / 2) - 1px);
}

#blt.open div:nth-child(2) {
	display: none;
}

#blt.open div:nth-child(3) {
	transform: rotate(135deg);
    transform-origin: center;
    top: calc((var(--thumb) / 2) - 1px);
}

#blt.deep div:nth-child(1) {
	transform-origin: left;
	width: calc(var(--thumb) / 4);
	transform: rotate(315deg);
	top: calc(((var(--thumb) / 4) * 2) - 0px);
}

#blt.deep div:nth-child(2) {
	top: calc(((var(--thumb) / 4) * 2) - 1px);
}

#blt.deep div:nth-child(3) {
	transform-origin: left;
	width: calc(var(--thumb) / 4);
	transform: rotate(45deg);
	top: calc(((var(--thumb) / 4) * 2) - 2px);
}


#shoppingTub {
	height: var(--thumb);
	width: var(--thumb);
	display: inline-block;
	vertical-align: top;
	float: right;
}

#blt-container {
	position: fixed;
	width: 100vw;
	top: var(--thumb);
	height: calc(100vh - var(--thumb));
	max-height: 0px;
	background-color: rgb(var(--oats));
	color: rgb(var(--ocean));
	font-family: var(--econ);
	overflow: hidden;
	z-index: 500;
}

#blt-container.open {
	max-height: calc(100vh - var(--thumb));
	background-color: rgb(var(--ocean));
	overflow: auto;
}

.menuItem {
	width: 100%;
	text-indent: 20px;
	height: var(--thumb);
	
}

.menuItem.active {
	background-color: rgb(var(--sage));
}

.subMenuContainer {
	position: fixed;
	width: 100vw;
	top: var(--thumb);
	height: calc(100vh - var(--thumb));
	max-height: calc(100vh - var(--thumb));
	background-color: rgb(var(--oats));
	color: rgb(var(--ocean));
	font-family: var(--econ);
	overflow: auto;
	z-index: 550;
}
