header {
	background-color: rgb(var(--ocean));
	height: var(--thumb);
	width: 100vw;
	font-family: var(--soapCloset);
	line-height: var(--thumb);
	font-size: xx-large;
	color: rgb(var(--oats));
	position: fixed;
}

#blt {
	height: var(--thumb);
	width: var(--thumb);
	
}

#blt div {
	border: 1px solid white;
}

#blt div:nth-child(1) {
	
}

#blt div:nth-child(2) {
	
}

#blt div:nth-child(3) {
	
}


#shoppingTub {
	
}

#blt-container {
	
}
