:root {
	--bark: 145,87,49;
	--oats: 222,224,223;
	--sage: 100,124,110;
	--ocean: 16,74,94;
	--thumb: 60px;
	--soapCloset: 'Girassol', cursive;
	--econ: 'Economica', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
}

.ui-page.ui-page-theme-a.ui-page-active {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}

button {
	background-color: rgb(var(--bark));
	border-color: rgb(var(--bark));
	border-radius: 2px;
	border-width: 1px;
	color: rgb(var(--oats));
	font-family: var(--econ);
}

input {
	font-family: var(--econ);
}

h1, h2 {
	margin: 0px;
	height: var(--thumb);
	max-height: var(--thumb);
	line-height: var(--thumb);
	font-size: calc(var(--thumb) * .75);
	text-shadow: 0px 0px 2px rgb(var(--oats));
}

.expand, .reveal {
	max-height: 9999px !important;
}

#attic, #basement {
	display: none;
}

#content {
	padding: calc(var(--thumb) + 10px) 10px 10px 10px;
	margin: 0px;
	font-family: var(--econ);
}

header {
	height: var(--thumb);
	width: 100vw;
	background-color: rgb(var(--ocean));
	position: fixed;
	z-index: 100;
	box-shadow: 0px 0px 5px black;
}

#blt {
	height: var(--thumb);
	width: var(--thumb);
	display: inline-block;
	overflow: hidden;
}

#blt.expand {
	overflow: unset;
}

#menuGlyph {
	height: var(--thumb);
	width: var(--thumb);
	position: relative;
}

.menuBar {
	width: calc(var(--thumb) * 0.5);
	border: 1px solid rgb(var(--oats));
	background-color: rgb(var(--oats));
	position: absolute;
}

#blt .menuBar:nth-child(1) {
	top: calc((var(--thumb) / 6 * 2) - 1px);
	left: calc((var(--thumb) * 0.25) - 1px);
}

#blt .menuBar:nth-child(2) {
	top: calc((var(--thumb) / 2) - 1px);
	left: calc((var(--thumb) * 0.25) - 1px);
}

#blt .menuBar:nth-child(3) {
	bottom: calc((var(--thumb) / 6 * 2) - 1px);
	left: calc((var(--thumb) * 0.25) - 1px);
}

#blt.expand .menuBar:nth-child(1) {
	top: calc((var(--thumb) / 6 * 3) - 1px);
	left: calc((var(--thumb) * 0.25) - 1px);
	transform-origin: center;
	transform: rotate(45deg);
}

#blt.expand .menuBar:nth-child(2) {
	display: none;
}

#blt.expand .menuBar:nth-child(3) {
	bottom: calc((var(--thumb) / 6 * 3) - 1px);
	left: calc((var(--thumb) * 0.25) - 1px);
	transform-origin: center;
	transform: rotate(135deg);
}

#blt.back .menuBar:nth-child(1) {
	transform: rotate(-30deg);
	transform-origin: left;
	top: calc((var(--thumb) / 2) - 1px);
	width: calc(var(--thumb) / 4 * 1);
}

#blt.back .menuBar:nth-child(3) {
	transform: rotate(30deg);
	transform-origin: left;
	top: calc((var(--thumb) / 2) - 2px);
	width: calc(var(--thumb) / 4 * 1);
	height: 0px;
}

#bltBody {
	height: calc(100vh - var(--thumb));
	width: 80vw;
	max-width: 300px;
	background-color: rgb(var(--ocean));
	position: relative;
	line-height: var(--thumb);
	text-indent: 10px;
	font-size: 25px;
	font-family: var(--soapCloset);
	color: rgb(var(--oats));
}

.bltMenu {
	height: calc(100vh - (var(--thumb) * 2));
}

.menuItem {
	height: calc(var(--thumb) / 3 * 2);
	line-height: calc(var(--thumb) / 3 * 2);
	display: block;
	text-indent: 10px;
	text-decoration: none;
	color: rgb(var(--oats));
}

#home {
	height: var(--thumb);
	width: calc(100vw - (var(--thumb) * 1) - 5px);
	display: inline-block;
	vertical-align: top;
	font-family: var(--soapCloset);
	font-size: calc(var(--thumb) * 0.5);
	line-height: var(--thumb);
	color: rgb(var(--oats));
	overflow: hidden;
}

#search {
	right: calc(var(--thumb) / 4 * 3);
}

.searchArea {
	
}

#search.open {
	
}

#search .searchBar {
	display: none;
}

#search.open .searchBar {
	width: 100vw;
	height: var(--thumb);
	background-color: rgb(var(--ocean));
	position: fixed;
	top: 0px;
	left: 0px;
	display: unset !important;
}

.searchBar input {
	border: none;
	border-bottom: 1px solid rgb(var(--oats));
	background: transparent;
	height: calc(var(--thumb) * 0.5 - 1px);
	width: calc(100% - (var(--thumb) * 1.5) - 10px);
	margin: calc(var(--thumb) * 0.25) 10px calc(var(--thumb) * 0.25) calc(var(--thumb) * 0.75);
	padding: 0px;
	vertical-align: top;
	text-indent: 10px;
	outline: none;
	caret-color: rgb(var(--oats));
	font-size: 24px;
    color: rgb(var(--oats));

}

.searchBar button {
	width: calc(var(--thumb) / 4 * 3);
	height: var(--thumb);
	display: inline-block;
	padding: 0px;
	border: none;
	border-radius: 0px;
	outline: none;
}

.searchBar button img {
	width: calc(var(--thumb) / 2);
	height: calc(var(--thumb) / 2);
	margin: calc(var(--thumb) / 4) calc(var(--thumb) / 8);
	filter: invert(1);
}

#cart {
	right: 0px;
}

#cart, #search, .back {
	width: calc(var(--thumb) / 4 * 3);
	height: var(--thumb);
	display: inline-block;
	vertical-align: top;
	position: fixed;
	top: 0px;
}

#cart img, #search img, .back img {
	width: calc(var(--thumb) / 2);
	height: calc(var(--thumb) / 2);
	margin: calc(var(--thumb) / 4) calc(var(--thumb) / 8);
	filter: invert(1);
}

.socialArea {
	height: calc(var(--thumb) * 0.5);
	width: fit-content;
	margin: calc(var(--thumb) * 0.25) auto;
}

.socialLink {
	height: calc(var(--thumb) * 0.5);
	width: calc(var(--thumb) * 0.5);
	display: inline-block;
	text-indent: 0px;
	padding: 0px 10px;
}

.socialLink img {
	height: calc(var(--thumb) * 0.5);
	width: calc(var(--thumb) * 0.5);
	vertical-align: top;
}

footer {
	background-color: rgb(var(--sage));
	font-family: var(--econ);
	text-align: center;
}

footer .searchBar {
	display: none;
}

#footerMenu {
	padding: 10px 0px;
}

#footerMenu .menuItem {
	font-size: 24px;
}

.subscribe .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	display: inline-block;
	width: calc(100vw - 100px);
	margin-left: 10px;
}

.subscribe input {
	width: 100%;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border: none;
	height: calc(var(--thumb) / 2);
	padding: 0px;
	vertical-align: top;
	text-indent: 10px;
}

.subscribe button {
	font-size: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 2px 7px;
	display: inline-block;
	width: 80px;
	height: calc(var(--thumb) / 2);
	vertical-align: top;
	margin-right: 10px;
}

#legalBar .menuItem {
	width: 30%;
	display: inline-block;
}

.finePrint {
	padding: 10px 0px;
	display: block;
	color: rgb(var(--oats));
}

#userAlert {
	position: fixed;
	bottom: -50px;
	width: 300px;
	max-width: 300px;
	left: calc(50vw - 160px);
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: rgb(var(--oats));
	background-color: rgba(var(--ocean));
	z-index: 1000;
	box-shadow: 0px 0px 3px rgb(var(--oats)), 0px 0px 13px 1px black;
	transition: .25s;
}

.alert {
	bottom: 70px !important;
}

@media only screen and (min-width:360px) {
	
}

@media only screen and (min-width:700px) {
	
}

@media only screen and (min-width:900px) {
	
}
