:root {
	--bark: 145,87,49;
	--oats: 222,224,223;
	--sage: 100,124,110;
	--ocean: 16,74,94;
	--thumb: 60px;
	--soapCloset: 'Girassol', cursive;
	--econ: 'Economica', sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
}

.ui-page.ui-page-theme-a.ui-page-active {
	width: 100%;
	height: 100%
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}

#attic, #basement {
	display: none;
}

#userAlert {
	position: fixed;
	margin: calc(50vw - 150px);
	width: 300px;
	bottom: 0px;
	text-align: center;
	background-color: black;
	padding: 10px 0px;
	color: rgb(var(--oats));
	box-shadow: -20px 0px 25px 0px rgba(0,0,0,0.75), 20px 0px 25px 0px rgba(0,0,0,0.75);
}

#content {
	padding: var(--thumb) 10px 10px 10px;
	margin: 0px;
}

#content .band:last-child {
	margin-bottom: -10px;
	//border-bottom: 10px solid rgb(var(--sage));
}

#handmadeNaturalLocal {
	background-image: url('/images/general/Papaya.jpg');
}
#comeMeetUs {
	background-image: url('/images/general/Papaya.jpg');
}

#localPartners {
	background-image: url('/images/general/fruit_pigments.jpg');
}
.band {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vh - var(--thumb));
	width: 100vw;
	margin-left: -10px;
	position: relative;
}

.band .text {
	font-size: 14vw;
	padding: 10vh 20px;
	font-family: var(--soapCloset);
	color: rgb(var(--oats));
	text-shadow: 0px 0px 3px rgb(var(--ocean)), 0px 0px 5px black;
	text-align: center;
	margin: auto;
	display: table;
}

.band .button {
	background-color: rgb(var(--bark));
	height: var(--thumb);
	width: calc(100vw - var(--thumb));
	margin-left: calc(var(--thumb) / 2);
	position: absolute;
	bottom: 10vh;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75), inset 2px 2px 3px 0px rgba(var(--oats),0.25), inset -2px -1px 3px 0px rgba(0,0,0,0.25);
	text-align: center;
	font-size: calc(var(--thumb) / 2) !important;
	font-family: var(--econ);
	line-height: var(--thumb);
	color: rgb(var(--oats));
}

.band .text span {
	display: block;
}

.band .text.matchWidth span:nth-child(2) {
	font-size: 125%;
	line-height: 55%;
}

.band .text.matchWidth span:nth-child(3) {
	font-size: 185%;
	line-height: 120%;
}

.band .text.jumble span:nth-child(1) {
	line-height: 50%;
	font-size: 75%;
}

.band .text.jumble span:nth-child(2) {
	line-height: 80%;
	font-size: 140%;
}

.band .text.jumble span:nth-child(3) {
	line-height: 100%;
	font-size: 80%;
}
