:root {
	--bark: 145,87,49;
	--oats: 222,224,223;
	--sage: 100,124,110;
	--ocean: 16,74,94;
	--thumb: 60px;
	--soapCloset: 'Girassol', cursive;
	--econ: 'Economica', sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
}

.ui-page.ui-page-theme-a.ui-page-active {
	width: 100%;
	height: 100%
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}

#attic, #basement {
	display: none;
}

#content {
	padding: var(--thumb) 10px 10px 10px;
	margin: 0px;
}
