.category {
	text-align: center;
	//max-height: calc(var(--thumb) * 2.2);
	overflow: hidden;
	transition: 1s cubic-bezier(0, 1, 0, 1);
	max-width: 800px;
	margin: auto;
	font-size: initial;
}

.catHeader {
	height: calc(var(--thumb) * 2.2);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(0.5);
}

.catHeader hr {
	margin: 0px auto;
	width: 90%;
	border: 0px;
	box-shadow: 0px 0px 0px 1px rgb(var(--oats)), 0px 0px 0px 1px rgb(var(--ocean)), 0px 0px 5px 1px rgb(var(--oats));
	cursor: pointer;
}
.category a {
	color: initial;
}

.listing {
	overflow: hidden;
	min-height: calc(var(--thumb) * 1.75);
	//max-height: calc(var(--thumb) * 1.75);
	margin: 5px 0px;
	text-align: left;
}

.listing h3 {
	margin: 0px;
	font-size: 24px;
	line-height: calc(var(--thumb) / 2);
	height: calc(var(--thumb) / 2);
	overflow: hidden;
	word-break: break-all;
	cursor: pointer;
}

.listing+hr {
	margin: 0px auto;
	border: 0px;
	border-bottom: 1px solid rgba(var(--sage),0.25);
	width: 90%;
}

.listingLeft {
	display: inline-block;
	height: calc(var(--thumb) * 1.25);
	width: calc(var(--thumb) * 1.25);
	vertical-align: top;
	cursor: pointer;
}

.listingLeft div {
	display: inline-block;
	height: calc(var(--thumb) * 1.25);
	width: calc(var(--thumb) * 1.25);
	background-size: cover;
	background-position: center center;
}

.listingMid {
	display: inline-block;
	width: calc(100% - (var(--thumb) * 2.25) - 20px);
	vertical-align: top;
	padding: 0px 10px 10px 10px;
}

.categories {
	font-size: 90%;
}

.keywords {
	font-size: 90%;
}

.description {
	margin: 5px 0px;
	display: block;
}

.ingredients {
	
}
