#content h1 {
	font-family: var(--econ);
}

#content h2 {
	margin-top: 10px;
	font-family: var(--econ);
}

#content span {
	margin-top: 10px;
	display: block;
	font-family: var(--econ);
	font-size: x-large;
	line-height: 120%;
}

#content ul {
	padding-left: 0px;
	list-style: none;
	font-size: calc(var(--thumb) / 3);
	font-family: var(--econ);
}

#content li {
	
}

.submit {
	height: var(--thumb);
	text-align: center;
	font-size: calc(var(--thumb) / 2) !important;
	line-height: var(--thumb);
	width: calc(100vw - 20px);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75), inset 1px 1px 1px 0px rgba(var(--oats),0.25), inset -1px -1px 1px 0px rgba(0,0,0,0.25);
	border-radius: 0px;
	overflow: hidden;
	background-color: rgb(var(--bark));
	color: rgb(var(--oats));
}

