#content h1 {
	font-family: var(--econ);
}

#content h2 {
	margin-top: 10px;
	font-family: var(--econ);
}

#content span {
	margin-top: 10px;
	display: block;
	font-family: var(--econ);
	font-size: large;
}
