#content.blogIt {
	padding: calc(var(--thumb) + 10px) 20px 20px 20px;
}

.blogBanner {
	height: 40vh;
	margin: 0px -20px;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.blogIt h1 {
	height: unset;
	max-height: unset;
	line-height: 100%;
	margin: 10px auto;
}

.blogIt h2 {
	height: unset;
	max-height: unset;
	line-height: 100%;
	margin: 10px auto;
	font-size: calc((var(--thumb) * .75) * .8);
}

.blogIt div {
	text-align: justify;
	margin-bottom: 10px;
}

.blogIt a {
	font-weight: 700;
	color: rgb(var(--bark));
}

.blogIt a:visited {
	color: rgb(var(--bark));
}

.blogIt a:hover {
	color: rgb(var(--bark));
}
