#content.blogIt {
	padding: calc(var(--thumb) + 10px) 20px 20px 20px;
}

.blogBanner:nth-child(1), .notice+.blogBanner {
	height: 40vh;
	margin: 0px -20px !important;
	width: 100vw !important;
	max-width: 100vw !important;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.blogBanner:nth-child(1) {
	margin-top: -10px;
}

.blogBanner {
	height: 40vh;
	margin: 0px -20px !important;
	width: 100vw !important;
	//max-width: 100vw !important;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.blogIt h1 {
	height: unset;
	max-height: unset;
	line-height: 100%;
	margin: 10px auto;
	max-width: 800px;
}

.blogIt h2 {
	height: unset;
	max-height: unset;
	line-height: 100%;
	margin: 10px auto;
	font-size: calc((var(--thumb) * .75) * .8);
	max-width: 800px;
}

.blogIt h3 {
	height: unset;
	max-height: unset;
	line-height: 100%;
	margin: 10px auto;
	font-size: calc((var(--thumb) * .75) * .65);
	max-width: 800px;
}

.blogIt div {
	text-align: justify;
	margin: auto;
	margin-bottom: 10px;
	max-width: 800px;
	line-height: 120%;
}

.blogIt a {
	font-weight: 700;
	color: rgb(var(--bark));
}

.blogIt a:visited {
	color: rgb(var(--bark));
}

.blogIt a:hover {
	color: rgb(var(--bark));
}

@media screen and (orientation:landscape) {
	.blogBanner {
		height: 60vh;
		margin: 0px auto !important;
	}
}
