#title, #pricing, #description, #ingredients {
	max-width: 800px;
	margin: 10px auto;
	font-size: initial;
}

#title h1 {
	overflow: hidden;
}

#slideshow {
	position: relative;
	margin: 0px -10px;
}

#slideHolder {
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center center;
}

#slideThumb {
	height: var(--thumb);
	width: fit-content;
	margin: calc(var(--thumb) * -1) auto 0px auto;
}

#slideThumb .slide {
	height: var(--thumb);
	width: var(--thumb);
	margin: auto;
	display: inline-block;
	background-size: cover;
}

#shareTool {
	position: absolute;
	top: 5px;
	right: 5px;
	height: calc(var(--thumb) * .5);
	width: calc(var(--thumb) * .5);
	background-image: url(/images/share.png);
	background-size: 100% 100%;
	background-position: center center;
	filter: invert(1);
}

#shareModul {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	top: 0px;
	left: 0px;
}

#shareContainer {
	min-width: var(--thumb);
	max-width: calc(var(--thumb) * 4);
	min-height: var(--thumb);
	margin: calc(50vh - (var(--thumb) / 2)) auto;
}

#shareContainer a div {
	height: var(--thumb);
	width: var(--thumb);
	background-size: 100% 100%;
	background-position: center center;
}

.priceBox {
	display: inline-block;
}

.priceBox>div:nth-child(1) {
	display: inline-block;
	font-size: calc(var(--thumb) * 1);
	line-height: var(--thumb);
	height: var(--thumb);
	width: var(--thumb);
	vertical-align: top;
	text-align: center;
}

.priceBox div:nth-child(2) {
	display: inline-block;
}

.priceBox div:nth-child(2) div {
	line-height: calc(var(--thumb) * 0.5);
	height: calc(var(--thumb) * 0.5);
}

.buy {
	width: var(--thumb);
	height: calc(var(--thumb) * 0.5);
	margin-top: calc(var(--thumb) * 0.25);
	display: inline-block;
	float: right;
	overflow: hidden;
}

.addToCart {
	height: calc(var(--thumb) * .5);
	width: calc(var(--thumb));
	font-family: var(--econ);
	padding: 3px;
}

.buy div button {
	width: calc(var(--thumb) * .35);
	height: calc(var(--thumb) * .5);
	text-align: center;
	padding: 0px;
	font-size: 100%;
}

.buy div input {
	width: calc(var(--thumb) * .3);
	height: calc(var(--thumb) * .5);
	text-align: center;
	padding: 0px;
	border: 0px;
}

#description {
	margin: 10px auto;
	font-size: 20px;
}
