h1 {
	margin: 0px;
	margin-top: 10px;
	font-family: var(--soapCloset);
}

h1 + span {
	font-family: var(--econ);
}

h2 {
	margin: 0px;
	font-family: var(--soapCloset);
}

h2 + span {
	font-family: var(--econ);
}

#content div {
	font-family: var(--econ);
    font-size: 120%;
    margin-top: 10px;
}

#slideContainer {
	height: 75vw;
	width: calc(100vw - 20px);
	position: relative;
}

#slideGuide {
	position: relative;
	top: calc(75vw - var(--thumb) - 8px);
	z-index: 50;
	display: block;
	margin-top: 0px !important;
	margin: auto;
	text-align: center;
}

.slide {
	height: 75vw;
	width: calc(100vw - 20px);
	background-size: cover;
	display: inline-block;
	margin-top: 0px !important;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.slide.active {
	z-index: 10;
}

.thumb {
	height: var(--thumb);
	width: var(--thumb);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 0px !important;
	border: 4px solid transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.thumb.active {
	border: 4px solid rgb(var(--oats));
}

#priceBox {
	font-size: 36px !important;
}

#priceBox div {
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
}

#priceBox span {
	display: block;
	font-size: small;
}

