h1 {
	margin: 0px;
	margin-top: 10px;
	font-family: var(--soapCloset);
}

h1 + span {
	font-family: var(--econ);
}

h2 {
	margin: 0px;
	font-family: var(--econ);
}

h2 > div {
	display: inline-block;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 11px solid rgb(var(--ocean));
	margin: 0px 10px 0px 0px;
	transition: .25s ease-in-out;
}

h2 + div {
	margin-top: 0px !important;
	max-height: 0px;
	overflow: hidden;
}

h2 + div > span {
	font-family: var(--econ);
}

h3 {
	margin: 10px 0px 0px 0px;
	font-family: var(--econ);
}

h3::after {
	content: attr(data-content);
}

h3 > div {
	display: inline-block;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 11px solid rgb(var(--ocean));
	margin: 0px 10px 0px 0px;
	transition: .25s ease-in-out;
}

h3 + div {
	margin-top: 0px !important;
	max-height: 0px;
	overflow: hidden;
}

h3 + div > span {
	font-family: var(--econ);
}

.engage {
	transform: rotate(90deg);
}

.expand {
	max-height: 9999px;
}

.selected {
	background-color: rgb(var(--sage));
	color: rgb(var(--oats));
}

.exception {
	max-height: 99px;
}

#content div {
	font-family: var(--econ);
    font-size: 120%;
	margin-top: 10px;
}

#slideContainer {
	height: 75vw;
	width: calc(100vw - 0px);
	margin-left: -10px;
	position: relative;
}

#slideGuide {
	position: relative;
	top: calc(75vw - var(--thumb) - 8px);
	z-index: 50;
	display: block;
	margin-top: 0px !important;
	margin: auto;
	text-align: center;
}

.slide {
	height: 75vw;
	width: calc(100vw - 0px);
	background-size: cover;
	display: inline-block;
	margin-top: 0px !important;
	vertical-align: top;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.slide.active {
	z-index: 10;
}

.thumb {
	height: var(--thumb);
	width: var(--thumb);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 0px !important;
	border: 4px solid transparent;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.thumb.active {
	border: 4px solid rgb(var(--oats));
}

#priceBox {
	font-size: 36px !important;
}

#priceBox div {
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
}

#priceBox span {
	display: block;
	font-size: small;
}

.ingOptions {
	text-align: center;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
	border-radius: 3px;
	padding: 5px;
	margin: 0px 3px 2px 3px;
}

.counter {
	width: calc(100vw - 20px);
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	border-radius: 3px;
	overflow: hidden;
}

.counter .down {
    display: inline-block;
    height: var(--thumb);
    width: var(--thumb);
    vertical-align: top;
    margin: 0px;
    text-align: center;
    font-size: var(--thumb);
    line-height: var(--thumb);
}

.counter .up {
    display: inline-block;
    height: var(--thumb);
    width: var(--thumb);
    vertical-align: top;
    margin: 0px;
    text-align: center;
    font-size: var(--thumb);
    line-height: var(--thumb);
}

.counter input {
	display: inline-block;
	height: var(--thumb);
	width: calc(100% - (var(--thumb) * 2));
	outline: none;
	vertical-align: top;
	margin: 0px;
	border: none;
	text-align: center;
	font-size: -webkit-xxx-large;
	color: darkgrey;
	padding: 0px;
	background-color: whitesmoke;
}
